<mat-card>
  <mat-card-content>
    <nav class="navigation">
      <a class="navigation__item"
         routerLink="./top-20-movies"
         [routerLinkActive]="'navigation__item--active'">
        TOP 20 MOVIES
      </a>
      <a class="navigation__item"
         routerLink="./favorite-movies"
         [routerLinkActive]="'navigation__item--active'">
        FAVORITE MOVIES
      </a>
      <a class="navigation__item"
         routerLink="./films-on-decades"
         [routerLinkActive]="'navigation__item--active'">
        MOVIES ON DECADE
      </a>
    </nav>
  </mat-card-content>
</mat-card>
