<div *ngFor="let movie of movies"
     class="card-container">
  <mat-card>
    <div class="card">
      <div class="card__image"
           [style.background-image]="'url(' + movie.urlPoster + ')'">
      </div>
      <div class="card__body">

        <div class="card__body-section">
          <h3 class="card__body-title"
              mat-card-title
              matTooltip="Open modal with trailer"
              (click)="openDialog(movie)">
            {{ movie.title }}
          </h3>
          <button *ngIf="!isFavorite(movie.idIMDB)"
                  mat-icon-button
                  (click)="addToFavorite(movie)"
                  matTooltip="Add to favorite"
                  class="card__body-section-btn">
            <mat-icon>favorite_border</mat-icon>
          </button>
          <button *ngIf="isFavorite(movie.idIMDB)"
                  mat-icon-button
                  (click)="removeFromFavorite(movie.idIMDB)"
                  matTooltip="Remove from favorite"
                  class="card__body-section-btn">
            <mat-icon>favorite</mat-icon>
          </button>
        </div>

        <div class="card__body-rating">
          {{ movie.rating }}
        </div>

        <div class="card__body-section">
          <span class="card__body-section--title">Year:</span>
          <span>{{ movie.year }}</span>
        </div>

        <div class="card__body-section">
        <span class="card__body-section--title"
              [ngPlural]="movie.genres.length">
          <ng-template ngPluralCase="=1">
            Genre:
          </ng-template>
          <ng-template ngPluralCase="other">
            Genres:
          </ng-template>
        </span>
          <span>
            {{ movie.genres }}
        </span>
        </div>

        <div class="card__body-section">
        <span class="card__body-section--title"
              [ngPlural]="movie.countries.length">
          <ng-template ngPluralCase="=1">
            Country:
          </ng-template>
          <ng-template ngPluralCase="other">
            Countries:
          </ng-template>
        </span>
          <span>
            {{ movie.countries }}
        </span>
        </div>

        <div class="card__body-section">
        <span class="card__body-section--title"
              [ngPlural]="movie.directors.length">
          <ng-template ngPluralCase="=1">
            Director:
          </ng-template>
          <ng-template ngPluralCase="other">
            Directors:
          </ng-template>
        </span>
          <a *ngFor="let director of movie.directors"
             class="card__body-section--link"
             (click)="navigateToDirector(director.id)">
            {{ director.name }}
          </a>
        </div>

        <div class="card__body-section">
          <span class="card__body-section--title">Description:</span>
          <span>{{ movie.simplePlot }}</span>
        </div>

      </div>
    </div>
  </mat-card>
</div>
